<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">NAF 0-100 Admin</a>
      <ul class="nav">
        <li><a href="/admin/users">Brukere</a></li>
        <li><a href="/admin/locations">Lokasjoner</a></li>
      <li><a href="/admin/regions">Regioner</a></li>
      </ul>
    </div>
  </div>
</div>