<div class="topbar" style='background-color:#222;background-color:#222222;'>
  <div class="fill">

      <a class="brand" href="/admin">NAF 0-100 Admin</a>
   <%if current_user && current_user.is_super_admin?%>
      <ul class="nav">
      <li><a href="/admin">Aktiviteter</a></li>
        <li><a href="/admin/users">Brukere</a></li>
        <li><a href="/admin/locations">Lokasjoner</a></li>
      </ul>
  <%end%>

  </div>
</div>