<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">NAF 0-100 Admin</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/admin/users">Brukere</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>