<div class="page-header">
     <h1> Ny aktivitet <small>administrering</small></h1>
     <%=link_to "&larr; Tilbake til listen".html_safe, admin_activities_url%>
</div>

<%=render :partial => 'form'%>