.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  color: #B94A48;
  border-color: #EE5F5B;
}
.default {
    color: #888888;
}

.tabletitle {
    color: #333333;
    font-weight: bold;
}

textarea.xxlarge{height:100px}
textarea.large{height:50px}

/* for uploader upload_container*/
.runtime{
    /*font-weight: lighter; */
    color: #888888;
}
/*
.plupload{
    border:  solid 2px;
}
*/