  <%=link_to "Vis all brukere", admin_users_url%>

<div class="page-header">
      <h1>Endre bruker <small><%=@user.email%></small></h1>
    </div>

    <div class="row">
      <div class="span10">
    <%=render 'form'%>
    </div>
  </div>
